nav {
  display: flex;
  justify-content: space-around;
  background-color: #ffffffaf;
  color: #000000;
  align-items: center;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 1000; 
  padding: 10px 20px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}
nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffffe0;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li:hover ul {
  display: block;
}

ul ul {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  column-count: 5; 
  column-gap: 20px;
}

ul ul.show {
  opacity: 1;
  visibility: visible;
}

.nav_info_person{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}
li{
  list-style: none;
}