.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.nav-info-person {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-icon {
  margin-left: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .nav-links.open {
    display: flex;
  }
  .search-container {
    position: absolute;
    right: 1rem;
  }
  .search-input-container {
    display: none;
  }
  .search-container.open .search-input-container {
    display: flex;
    position: absolute;
    top: 2.5rem;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
  }
}

@media (min-width: 769px) {
  .search-container {
    position: static;
  }
  .search-input-container {
    display: flex;
  }
  .search-icon {
    display: none;
  }
}
