.Cart-container {
  position: relative;
}

.Cart-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.Cart-toggle:hover {
  background-color: #0056b3;
}

.Cart-table {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  z-index: 1000;
}

.Cart-items {
  width: 100%;
  border-collapse: collapse;
}

.Cart-items th, .Cart-items td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.btn_Cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn_Cart:hover {
  color: red;
}

.cantidad-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.cantidad-btn:hover {
  background-color: #0056b3;
}

.empty-Cart-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}

.empty-Cart-button:hover {
  background-color: #e55347;
}

.Cart-total {
  font-weight: bold;
  margin-top: 10px;
}

.carrito-mensaje {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
