# Node.js
node_modules/
back_firebase

# npm
*.lock
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
package-lock.jso
package-lock.json
firebase.json
.firebaserc

# Logs and databases  
*.log  
*.sqlite  
*.sqlite3  
*.db  
*.sql
.firebase
.github

# Dependencias de desarrollo
.env
.env.local
.env.test
.env.production

# Archivos de construcción
/build/  
/dist/  
/out/  
/build-output/

# Archivos de configuración de editor
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db



firebase.json