.trolley-toggle {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding-right: 0px;
}

.trolley-table{
  position: absolute;
  top: 100%; 
 
}
.trolley-items {
 /* Alinea la tabla a la derecha */
  border-collapse: collapse;
  right: 0;
}

.trolley-items th, .trolley-items td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

.trolley-items th {
  background-color: #333;
  color: #fff;
}

.trolley-items img {
  display: block;
  margin: auto;
  max-width: 100px;
}

.empty-trolley-button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  font-weight: 700;
}
.btn_trolley{
  background-color: #333;
  color: #fff;
  font-weight: 900;
}
.trolley-total {
  margin-top: 10px;
  text-align: right;
  font-weight: 700;
}