.container{
  position:relative;
  padding: auto
}

.cards_select{
position: relative;
font-size: 17px;
cursor: pointer;
font-weight: 600;
padding:auto;

}

.cards_select label{
padding: 0px 10px;
}

select{
font-size: 14px;
cursor: pointer;
padding: 1px 3px;
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  font-family: Helvetica;
}

.card{
  margin:20px;  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.233);
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.card a{
  text-decoration: none;
  color: black;
}
.card img{
  margin-top: -20px;
}

.text_card{
  font-weight: 600;
  text-align: center;
  margin-top: 0px;
}
.card-title{
  font-size:24px;
  text-align: center;
  margin: 10px;
}


.card_carro{
  display: flex;
  justify-content:center;
  flex-direction: row;
  align-items: center;
  gap:30px;
  font-weight: 600;
  margin: -40px 10px 5px 10px;
  font-size: 25px;
  color: black;
}




.cart-shopping:hover{
  color: blue;
}
.mensaje p{
text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: -40px;
}