.container{
  position:relative;
  padding: auto
}

.cards_select{
position: relative;
font-size: 17px;
cursor: pointer;
font-weight: 600;
padding:auto;

}

.cards_select label{
padding: 0px 10px;
}

select{
font-size: 14px;
cursor: pointer;
padding: 1px 3px;
}

.container_cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  font-family: Helvetica;
}

.card{
  position: relative;
  margin:10px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.card a{
  text-decoration: none;
  color: black;
}


.text_card{
  font-weight: 600;
  text-align: center;
  margin-top: 0px;
}
.card-title{
  font-size:20px;
  text-align: center;
  margin: 10px;
}
.card img{
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.811));
}

.card_carro{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  margin: -30px 10px 5px 10px;
  font-size: 18px;
  color: black;
}
.card_carro h4{
  font-size: 18px;
}
.card_carro span{
  font-weight: 500;
}

.card_btn button {
  margin-top: 10px;
  padding: 5px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
  cursor: pointer;
}
.star-container {
  display: flex;
  font-size: 25px; /* Tamaño de la estrella */
  color: grey;
  justify-content: center;
  margin: -20px 10px 10px 10px;
  align-items: center;
}
.star-container p{
font-size: 20px;
}
.star {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1em;
}

.star.filled {
  color: yellow; 
}

.card_btn button:hover {
  background-color: #333; 
}
.card_btn{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top:-30px;
  margin-bottom: 10px;
}


.cart-shopping:hover{
  color: rgb(249, 249, 255);
}
.mensaje p{
text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin-top: -0px;
}