.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: black;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  z-index: 20000;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .nav-links.open {
    display: flex;
  }
}
