.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  color: rgb(0, 0, 0);
}

.nav-links.open {
  display: block;
  color: black;
  background-color: #ffffff;
}

/* Show dropdown menu when hovering over the dropdown header or menu */
.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
  z-index: 20000;
}

/* Hide hamburger menu on small screens */
@media (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .nav-links.open {
    display: flex;
  }
}
